.Article {
    margin-left: var(--main-article-margin);
    margin-right: var(--main-article-margin);
    text-align: justify;
    border: 0px;
}
.ArticleTitle {
    text-align: center;
    display: var(--main-display-block);
    margin-left: var(--main-article-margin);
    margin-right: var(--main-article-margin);
    visibility: var(--main-visibility);
}