.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .75rem;
    line-height: 1rem;
    z-index: -1;
    visibility:var(--main-visibility);
    display:var(--main-display-flexbox);
}