.WebsiteTitle {
    text-decoration: none;
    color: var(--main-textColor);
    color-scheme: var(--main-scheme);
    font-weight: bold;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.WebsiteTitle:hover {
    filter: invert(0.5);
}
.terminalIcon:hover {
    filter: invert(0.5);
}