:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: #131313;
  --main-bg-hovercolor: #393939;
  --main-scheme: dark;
  --main-textColor: #ffffff;

}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background-color: var(--main-bg-color);
  color-scheme: var(--main-scheme);
  color: var(--main-textColor);
}


@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #ffffff;
    --main-bg-textcolor: #000000;
    --main-bg-hovercolor: #e2e2e2;
    --main-textColor: #131313;
  }
}
