.lightSwitch {
    width: 3%;
    height: 3%;
    border-radius: 50%;
}
.lightSwitch:hover {
    background-color: var(--main-bg-hovercolor)
}
.lightSwitch:active {
    transform: scale(.97);
}

.lightSwitch svg {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
  }