.lightSwitch {
    display: flex;
    box-sizing:border-box;
    flex-direction: row-reverse;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 120px;
}
.lightSwitch:hover {
    background-color: var(--main-bg-hovercolor);
}
.lightSwitch:active {
    transform: scale(.97);
}
