.lightSwitch {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
}
.lightSwitch:hover {
    background-color: var(--main-bg-hovercolor);
}
.lightSwitch:active {
    transform: scale(.97);
}
