.Navbutton{
    background-color:var(--main-bg-color);
    border: var(--main-textColor);
    border-radius: 8px;
    color:var( --main-textColor);
    color-scheme: var(--main-scheme);
    font-size: 16px;
    font-weight: bold;
    min-height: 24px;
    min-width: 24px;
    margin: 5px;
    overflow: hidden;
}
.Navbutton:hover {
    background-color: var(--main-bg-hovercolor)
}
.Navbutton:active {
    transform: scale(.97);
}