.Navbar {
    display: flex;
    box-sizing: border-box;
    color: var(--main-bg-color);
    color-scheme: var(--main-scheme);
    min-width: 24px;
    min-height: 24px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: left;
    flex-wrap: nowrap;
    overflow: hidden;
    visibility:var(--main-visibility);
    display:var(--main-display-flex);
}