.gameControls {
    display: inline-block;
    justify-content: start;
    text-align: center;
    visibility:var(--main-gameControl-visibility);
    float:left;
}

.gameControlsGamepad {
    justify-content: start;
    text-align: center;
    visibility:var(--main-gameControl-visibility);
    position:  relative;
}