.gameControls {
    display: var(--main-gameControl-display);
    justify-content: start;
    text-align: center;
    visibility:var(--main-gameControl-visibility);
    float:left;
}

.gameControlsGamepad {
    display: var(--main-gameControl-display);
    justify-content: start;
    text-align: center;
    visibility:var(--main-gameControl-visibility);
    position:  relative;
}